/* --- 1. Reseteo Básico y Variables de Color --- */

/* Un pequeño reseteo para que todos los navegadores se comporten igual */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* :root es el lugar perfecto para declarar nuestras variables globales (tu paleta) */
:root {
    --color-dark-brown: #483434;
    --color-light-brown: #6b4f4f;
    --color-champagne: #eed6c4;
    --color-off-white: #fff3e4;
    --color-black: #101211;
    
    --font-body: 'Urbanist', sans-serif;
    /* Añadiremos las otras fuentes aquí después */
}


/* --- 2. Estilos Generales del Body --- */

body {
    background-color: var(--color-off-white); /* Usamos nuestra variable para el fondo */
    color: var(--color-dark-brown);           /* Usamos nuestra variable para el texto */
    font-family: var(--font-body);            /* Usamos nuestra variable para la fuente */
    line-height: 1.6;                         /* Mejora la legibilidad de los párrafos */
}